.header {
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.link {
  color: var(--cor-1);
  transition: 0.2s ease;
}

.link:hover {
  color: var(--cor-5);
}

@media (max-width: 744px) {
  .header {
    gap: 12px;
  }
}

@media (max-width: 390px) {
  .header-links {
    gap: .5rem;
    justify-content: flex-start;
  }
  .link {
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    background-color: var(--cor-9);
  }
  .link:hover {
    background-color: var(--cor-8);
    color: var(--cor-1);
  }
}
