body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #94221d;
  background-color: #f0d9b6;
}

h1,
h2,
h3,
h4,
ul,
p,
dd,
blockquote {
  margin: 0px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

@font-face {
  font-family: Metanoia;
  src: url(./asset/fonts/Metanoia.ttf);
}

@font-face {
  font-family: Visby;
  src: url(./asset/fonts/VisbyRegular.otf);
}

@font-face {
  font-family: Visby-bold;
  src: url(./asset/fonts/VisbyBold.otf);
}

h1 {
  font-family: Visby;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 2rem;
}

p {
  font-family: Visby;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  margin-top: 1.25rem;
}

.container {
  max-width: 500px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container + .container {
  margin-top: 3.75rem;
}

.intro .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rede h2 {
  font-family: Metanoia;
  font-size: 1.5rem;
  line-height: 1.8rem;
  position: relative;
  margin-left: 30px;
  margin-bottom: 2rem;
}

.rede h2::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 3px;
  background-image: url(./asset/img/star.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.outra h2 {
  font-family: Metanoia;
  font-size: 1.5rem;
  line-height: 1.8rem;
  position: relative;
  margin-left: 30px;
  margin-bottom: 2rem;
}

.outra h2::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 3px;
  background-image: url(./asset/img/star.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

a {
  border: 1px solid #102408;
  display: block;
  border-radius: 50px;
  padding: 20px 10px;
  color: #102408;
  background-color: #f0d9b6;
  text-transform: uppercase;
  font-family: Visby;
  font-size: 1.25rem;
  line-height: 1.6rem;
  text-align: center;
  transition: all .2s;
}

a:hover {
  background-color: #102408;
  color: #f0d9b6;
}

.list-link {
  display: grid;
  gap: 1rem;
}

.footer {
  margin-top: 7.5rem !important;
}

.footer .desc {
  width: 180px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #94221d;
}

.footer p {
  text-align: center;
  margin: 2rem 0;
  font-family: Visby-bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
